<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间，和我们的接口绑定-->
<mapper namespace="com.pipizhu.dao.UsrMapper">
    <select id="selectUsr" resultType="com.pipizhu.pojo.Usr">
        select * from usr;
    </select>
</mapper>